body {
    background-color: #ceaef8;
};

img{
    width: 300px;
    height: 320px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(0, 0, 0);;
};

button {
    border-radius: 20px;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 10px;
    background-color: #6ecff6;
    text-transform: uppercase;
};

